@import url('file:///home/michael/.cache/wal/colors-waybar.css');

* {
    border-radius: 0;
    font-family: 'Inconsolata Nerd Font Mono Medium';
    font-size:     12px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

/*window {*/
    /*color:      @color7;*/
    /*background: @background;*/
    /*border: 5px solid;*/
    /*border-color: @background;*/
/*}*/

window#waybar {
    color:      @color7;
    background: @background;
    opacity:    0.95;
    border: 5px solid;
    border-color: @background;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      @color7; 
    background: @background;
    opacity:    0.6;
}

#workspaces button.visible {
    color:      @color7; 
}

#workspaces button.focused {
    border-top: 3px solid @color7;
    opacity:    1;
}

#workspaces button.urgent {
    color:     @color1; 
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio,  #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:      @color1; 
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
    background: @background;
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
    background: @background;
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
