@import url('file:///home/michael/.cache/wal/colors-waybar.css');

* {
    font-family: 'Inconsolata Nerd Font Mono Medium';
    font-size:     12px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    background: @color0;
}

window#waybar {
    color:      @color7;
    background: @background;
    border-bottom: 5px;
    opacity: 0.95;
}

.modules-left .modules-center .modules-right {
    padding-bottom: 0.5px;
    padding-top: 0.5px;
}

#workspaces button {
    opacity:    0.6;
    border-top: 1.5px solid @color3;
    /*border-bottom: 1.5px solid @color3;*/
    border-radius: 5px;
}

#workspaces button.focused {
    border-top: 1.5px solid @color7;
    /*border-bottom: 1.5px solid @color7;*/
    border-radius: 5px;
    opacity:    1;
}

#workspaces button.urgent {
    color:     @color1; 
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio,  #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    /*margin:     0px 6px 0px 10px;*/
    min-width:  25px;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio,  #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #clock, #idle_inhibitor, #tray {
    border-top: 1.5px solid @color3;
    /*border-bottom: 1.5px solid @color3;*/
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:      @color1; 
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
    background: @background;
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
    background: @background;
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
